<a href="https://www.kaggle.com/shivavashishtha/l11-removing-missing-values?scriptVersionId=89778530" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/2022-ipl-auction-dataset/ipl_2022_dataset.csv

# Importing the IPL 2022 Auction Dataset

In [2]:
df=pd.read_csv("../input/2022-ipl-auction-dataset/ipl_2022_dataset.csv",index_col="Unnamed: 0")

In [3]:
df

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
0,Rashid Khan,Draft Pick,BOWLER,15.0,1950.0,SRH,Gujarat Titans
1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans
2,Lockie Ferguson,2 Cr,BOWLER,10.0,1300.0,KKR,Gujarat Titans
3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.0,1170.0,RR,Gujarat Titans
4,Shubman Gill,Draft Pick,BATTER,8.0,1040.0,KKR,Gujarat Titans
...,...,...,...,...,...,...,...
628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

# Checking the info() of the dataframe

In [4]:
#this will help us identify the null values
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 633 entries, 0 to 632
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player           633 non-null    object
 1   Base Price       633 non-null    object
 2   TYPE             633 non-null    object
 3   COST IN ₹ (CR.)  237 non-null    float64
 4   Cost IN $ (000)  237 non-null    float64
 5   2021 Squad       199 non-null    object
 6   Team             633 non-null    object
dtypes: float64(2), object(5)
memory usage: 39.6+ KB

# Producing a dataframe checking isna()

In [5]:
# using isna() this will return us boolean dataframe, true at null value and false at some values
df.isna()

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
628,False,False,False,True,True,True,False
629,False,False,False,True,True,True,False
630,False,False,False,True,True,True,False
631,False,False,False,True,True,True,False
632,False,False,False,True,True,True,False

# Summing up all the null values()

In [6]:
# using sum() along with isna()
# this will return the total number of null values in specific columns
df.isna().sum()

Player               0
Base Price           0
TYPE                 0
COST IN ₹ (CR.)    396
Cost IN $ (000)    396
2021 Squad         434
Team                 0
dtype: int64

# Producing a dataframe of null values present in a specific column

In [7]:
# dataframe of the values where df["COST IN ₹ (CR.)"] is a null values 
df[df["COST IN ₹ (CR.)"].isna()]

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
237,Suresh Raina,2 Cr,BATTER,NaN,NaN,CSK,Unsold
238,Steve Smith,2 Cr,BATTER,NaN,NaN,DC,Unsold
239,Shakib Al Hasan,2 Cr,ALL-ROUNDER,NaN,NaN,KKR,Unsold
240,Amit Mishra,1.5 Cr,BOWLER,NaN,NaN,DC,Unsold
241,Adil Rashid,2 Cr,BOWLER,NaN,NaN,PBKS,Unsold
...,...,...,...,...,...,...,...
628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

# Checking the value_counts() along with null values

In [8]:
# using value_counts() to know what are the diffrent values we have in the column and the count of occurrences 
df["COST IN ₹ (CR.)"].value_counts(dropna=False)

NaN      396
0.20      52
0.50      17
2.00      13
4.00       8
        ...
11.50      1
3.60       1
12.25      1
2.80       1
3.20       1
Name: COST IN ₹ (CR.), Length: 66, dtype: int64

# Calculating the mean of a column by skipping the null values

In [9]:
# calculating the mean by skipping the null values 
# if we will not skill the null values the mean will be corrupted 
df["COST IN ₹ (CR.)"].mean(skipna=True)

3.6957805907173027

# Dropping null values using any & all arguments

In [10]:
df.shape

(633, 7)

In [11]:
# this will drop the rows which contains even one null value
df.dropna(axis=1,how="any").shape

(633, 4)

In [12]:
# this will drop the rows which contains all the elements as null values
df.dropna(axis=0,how="any").shape

(159, 7)

In [13]:
# this will drop the columns as the axis is defined as 1
# if any element in the column is null values the column will be dropped
# we use 0 for rows and 1 for columns
df.dropna(axis=1,how="all").shape

(633, 7)

In [14]:
# the column will be dropped only if all the elements are null values
df.dropna(axis=0,how="all").shape

(633, 7)

In [15]:
df.shape

(633, 7)

# Dropping null values with a thresh

In [16]:
#thresh - thresh takes integer value which tells minimum amount of na values to drop.
df.dropna(axis=1,thresh=400).shape

(633, 4)

In [17]:
#thresh - thresh takes integer value which tells minimum amount of na values to drop.
df.dropna(axis=1,thresh=700).shape

(633, 0)

In [18]:
df.isna().sum()

Player               0
Base Price           0
TYPE                 0
COST IN ₹ (CR.)    396
Cost IN $ (000)    396
2021 Squad         434
Team                 0
dtype: int64