<a href="https://www.kaggle.com/code/shivavashishtha/l29-apply-groupby-with-multiple-keys?scriptVersionId=105949744" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-science-job-salaries/ds_salaries.csv

# How Groupby object can be used with multiple keys

In [2]:
#importing the data
df=pd.read_csv("../input/data-science-job-salaries/ds_salaries.csv")

In [3]:
#checking the dataframe generated
df

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [4]:
#checking teh columns
df.columns

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

In [5]:
#checking the unique values in job title that can be used for grouping the data
df.job_title.unique()

array(['Data Scientist', 'Machine Learning Scientist',
       'Big Data Engineer', 'Product Data Analyst',
       'Machine Learning Engineer', 'Data Analyst', 'Lead Data Scientist',
       'Business Data Analyst', 'Lead Data Engineer', 'Lead Data Analyst',
       'Data Engineer', 'Data Science Consultant', 'BI Data Analyst',
       'Director of Data Science', 'Research Scientist',
       'Machine Learning Manager', 'Data Engineering Manager',
       'Machine Learning Infrastructure Engineer', 'ML Engineer',
       'AI Scientist', 'Computer Vision Engineer',
       'Principal Data Scientist', 'Data Science Manager', 'Head of Data',
       '3D Computer Vision Researcher', 'Data Analytics Engineer',
       'Applied Data Scientist', 'Marketing Data Analyst',
       'Cloud Data Engineer', 'Financial Data Analyst',
       'Computer Vision Software Engineer',
       'Director of Data Engineering', 'Data Science Engineer',
       'Principal Data Engineer', 'Machine Learning Developer',
       'Applied Machine Learning Scientist', 'Data Analytics Manager',
       'Head of Data Science', 'Data Specialist', 'Data Architect',
       'Finance Data Analyst', 'Principal Data Analyst',
       'Big Data Architect', 'Staff Data Scientist', 'Analytics Engineer',
       'ETL Developer', 'Head of Machine Learning', 'NLP Engineer',
       'Lead Machine Learning Engineer', 'Data Analytics Lead'],
      dtype=object)

In [6]:
#checking the number of unique values in job title
df.job_title.nunique()

50

In [7]:
# grouping the data using job title
# This will generate 50 clusters and nunique is 50
split1=df.groupby("job_title")

In [8]:
#typecasting to list
split1=list(split1)

In [9]:
#checking length to varify teh results
len(split1)

50

In [10]:
#creating another groupby object via salary column
df.salary.unique()

array([   70000,   260000,    85000,    20000,   150000,    72000,
         190000, 11000000,   135000,   125000,    45000,  3000000,
          35000,    87000,     8000,  4450000,   100000,   423000,
          56000,   299000,   450000,    42000,    98000,   115000,
         325000,   720000,   157000,    51999,    60000,    41000,
          65000,   103000,   250000,    10000,   138000,    45760,
          44000,   106000,    88000,    14000,   188000,   105000,
          61500,    91000,   300000,    48000,   130000,    34000,
         118000,   120000,   138350,   110000,   130800,    19000,
         412000,    40000,    55000,    43200,   190200,    80000,
          37000,   235000,   400000,   270000,    67000,   140000,
          68000,    50000,   170000,    75000,  1450000,   276000,
        2200000,    12000,    81000,    62000,    73000,    37456,
        2250000,    82500,    38400,   225000,    90000,   200000,
           8760,   151000,   700000,    24000,  7000000,  8500000,
         220000,   240000,    53000,   153000,   160000,   168000,
          95000,    13400,   144000,   159500,   230000,    54000,
         165000,    51400,   174000,    58000, 30400000,   420000,
        1672000,    76760,    22000,     4000,    59000,    74000,
         152000,    21844,    18000,   120500,   147000,     9272,
        1799997,  4000000,    52000,   195000,    32000,    69600,
          21000,   435000,   185000,   180000,  2500000,    40900,
         416000,  1200000,   256000,    39600,  1600000,  1335000,
          52500,    31000,   108000,   600000,  2100000,    93000,
        1250000,  4900000,    21600,    93150,   111775,    72500,
         102000,    65720,   112000,    69999,   109000,   155000,
         120600,   102100,    84900,   136620,    99360,   146000,
         123000,    99000,   116000,   106260,   126500,   242000,
          30000,   165220,   120160,    90320,   181940,   132320,
         220110,   160080,   124190,   115500,   112900,   165400,
         167000,   243900,   136600,   109280,   128875,    93700,
         224000,   167875,   175000,   156600,   108800,    95550,
         113000,   161342,   137141,   211500,   192400,    90700,
          61300,   138600,   136000,   189650,   164996,   132000,
         208775,   147800,   136994,   101570,  6000000,    28500,
         164000,   145000,   105400,   215300,   158200,   209100,
         154600,   115934,    81666,   183600,    63900,   112300,
         241000,   159000,    82900,   100800,   140400,  1400000,
        2400000,   148000,   104890,   185100,   324000,   216000,
         210000,    29000,    52800,    66500,    57000,   121000,
         152500,   380000,   405000,   177000,    78000,   214000,
         192600,   266400,   213120,   141300,   206699,    99100,
         110500,    99050,   205300,   176000,   200100,    70500,
         184700,   175100,   140250,   116150,    69000,   150075,
          25000,   110925,   192564,   144854,   150260,   154000,
         126000,   129000])

In [11]:
#checking the nunique of salary
df.salary.nunique()

272

In [12]:
#Applying groupby with multiple keys
split2=df.groupby(["job_title","salary"])

In [13]:
#typecasting to list
split2=list(split2)

In [14]:
#checking the length
len(split2)

458

In [15]:
#slicing teh lsit to get deep into the data
split2[3][:]

(('AI Scientist', 120000),
      Unnamed: 0  work_year experience_level employment_type     job_title  \
 391         391       2022               MI              FT  AI Scientist

      salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
 391  120000             USD         120000                 US             0

     company_location company_size
 391               US            M  )